.button {
  width: "auto";
  height: "auto";
  border-radius: 60px;
  background: #e35d3c;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  padding: 16px 20px 16px 84px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media (max-width: 767px) {
  .button {
    .Link {
      font-size: 16px;
    }
  }
}
