.swiper {
  width: 100%;
  height: 100%;
}

.swiperslide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiperpagination {
  position: absolute;
  top: -100px;
  display: flex;
  justify-content: center;
}
.swiperpaginationbullet {
  width: 15px;
  height: 15px;
  margin: 0 12.5px 120px 12.5px;
  background-color: #e0e0e0;
  border-radius: 15px;
  opacity: 1;
}

.swiperpaginationbulletactive {
  background-color: #e35d3c;
}
