.background {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  overflow: scroll;
  width: 714px;
  height: 60%;
  padding: 36px;
  border-radius: 16px;
  background-color: white;
  .title {
    font-size: 24px;
    font-weight: bold;
  }
}

.form_wrap {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 24px;
  .form_label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .form_input {
    height: 48px;
    border-radius: 8px;
    margin-bottom: 32px;
  }
  .check_box {
    font-size: 18;
    font-weight: bold;
    margin-bottom: 24px;
    align-self: center;
    input {
      margin-right: 16px;
    }
  }
  .submit_btn {
    border: 0; //? button 기본 스타일 제거
    background-color: transparent; //? button 기본 스타일 제거
    height: 56px;
    border-radius: 8px;
    background: #e35d3c;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
}
