.section_1 {
  align-items: center;
  margin-top: 80px;
  background-size: auto auto;
  .content {
    height: 644px;
    color: white;
    flex-direction: column;
    justify-content: start;
    .text_main {
      margin-top: 137px;
      margin-bottom: 66px;
      font-weight: 700;
      font-size: 36px;
      line-height: 4.7rem;
    }

    .text_sub {
      font-weight: 500;
      font-size: 20px;
      line-height: 2.6rem;
    }

    .text_tiny {
      font-weight: 300;
      font-size: 1.1rem;
      line-height: 1.4rem;
      color: var(--text-tiny);
    }
  }
}

.section_2 {
  .content {
    flex-direction: column;

    .text_main {
      text-align: center;
      font-weight: 700;
      font-size: 30px;
      margin-top: 150px;
      line-height: 3.9rem;
    }
    .statistics {
      display: flex;
      justify-content: space-between;
      padding: 0 4rem;
      margin-top: 10.5rem;

      .item {
        text-align: center;
        min-width: 15rem;

        .item_name {
          font-weight: 500;
          font-size: 20px;
          line-height: 2.6rem;
        }

        .item_value {
          margin-top: 2rem;
          font-weight: 700;
          font-size: 30px;
          line-height: 3.9rem;
          color: #e35d3c;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .text_tiny {
      text-align: right;
      margin-top: 1.5rem;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.8rem;
      color: #a5a5a5;
    }
  }
}

@media (max-width: 767px) {
  .section_1 {
    margin-top: 72px;
    background-size: auto auto;

    .content {
      height: 350px;

      .text_main {
        margin-top: 60px;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
      }

      .text_sub {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
      }
    }
  }

  .section_2 {
    .content {
      padding: 0 0 7rem 0;

      .text_main {
        align-self: center;
        max-width: 250px;
        font-size: 20px;
        line-height: 130%;
        margin-top: 40px;
      }

      .statistics {
        flex-direction: column;
        margin-top: 40px;
        align-items: center;

        .item {
          text-align: center;
          min-width: 15rem;

          .item_name {
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
          }

          .item_value {
            margin-top: 6px;
            margin-bottom: 32px;
            font-weight: 700;
            font-size: 24px;
            line-height: 130%;
            color: #e35d3c;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
