html,
body {
  padding: 100px;
  margin: 0;
}

html {
  font-size: 62.5%; /* 1rem=10px */
}

body {
  font-size: 1.6rem; /* 16px */
}

:root {
  --content-width: 1080px;
  --content-margin: 2rem;
  --mortgage-content-width: 420px;
}
