.text_main {
  font-weight: 700;
  font-size: 36px;
  line-height: normal;
}

.text_sub {
  font-weight: 400;
  font-size: 20px;
  line-height: 2.3rem;
}

.text_tiny {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: var(--text-tiny);
}

.text_highlight {
  color: var(--primary);
}
.main {
  margin-top: 80px;
}
.section_1 {
  height: 620px;
  //? for test
  //border: 1px solid black;
  .content {
    .text_container {
      align-self: center;
      .text_main {
        text-align: left;
        margin-bottom: 60px;
      }

      .text_sub {
        text-align: left;
      }

      .btn_compare {
        text-align: left;
        margin-top: 60px;
        margin-bottom: auto;
        z-index: 1;
      }
    }

    .img_landing_1 {
      padding-top: 79px;
      margin-right: 115px;
      //?  section2에 가려져야함.
      z-index: -1;
      .img_item {
        width: inherit;
        height: inherit;
      }
    }
  }
}

.section_2 {
  height: 620px;
  background-color: #f9f9f9;

  .content {
    z-index: 1;
    background-color: #f9f9f9;
    .text_main {
      align-self: end;
      text-align: right;
      margin-top: 200px;
      margin-bottom: 60px;
    }

    .text_sub {
      align-self: end;
      text-align: right;
    }
  }

  .img_landing_2 {
    //? 오른쪽 텍스트가 밀려서 width를 줄어야했음. (왜 밀리는지 ?)
    .img_item {
      width: 477px;
      height: 354px;
    }
    width: min-content;
    align-self: center;
  }
}
.section_3 {
  height: 620px;

  .content {
    padding: 79px 0 0 0;

    .text_main {
      text-align: left;
      margin-top: 120px;
      margin-bottom: 4.6rem;
    }

    .text_sub {
      text-align: left;
    }
  }

  .img_landing_3 {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    .img_item {
      align-self: center;
      width: 208px;
      height: 243px;
    }
    .text {
      margin-top: 20px;
      text-align: center;
      color: #e35d3c;
      font-size: 32px;
      font-weight: 600;
    }
  }
}
.section_4 {
  height: 620px;
  background-color: #f9f9f9;

  .content {
    background-color: #f9f9f9;
    .text_main {
      align-self: end;
      text-align: right;
      margin-top: 200px;
      margin-bottom: 60px;
    }

    .text_sub {
      align-self: end;
      text-align: right;
    }
  }

  .img_landing_4 {
    margin-top: 144px;
    .img_item {
      width: 440px;
      height: 288px;
    }
  }
}

.section_5 {
  height: 620px;

  .content {
    .text_main {
      text-align: left;
      margin-top: 200px;
      margin-bottom: 60px;
    }

    .text_sub {
      text-align: left;
    }
  }

  .img_landing_5 {
    //? 왼쪽 텍스트가 밀려서 width를 줄어야했음. (왜 밀리는지 ?)
    .img_item {
      width: 359px;
      height: 305px;
    }
    align-self: center;
  }
}
.section_6 {
  height: 620px;
  background-color: #f9f9f9;
  .content {
    background-color: #f9f9f9;
  }
}

@media (max-width: 767px) {
  .text_main {
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
  }

  .text_sub {
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
  }

  .text_tiny {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: var(--text-tiny);
  }

  .main {
    margin-top: 72px;
  }
  .section_1 {
    height: 500px;
    //? for test
    //border: 1px solid black;
    .content {
      flex-direction: column;
      position: relative;
      .text_container {
        align-self: baseline;
        margin-top: 20px;
        margin-left: 8px;
        .text_main {
          text-align: left;
          margin-bottom: 24px;
        }

        .text_sub {
          text-align: left;
          margin-bottom: 40px;
        }

        .btn_compare {
          width: 297;
          height: 52;
          bottom: 40px;
          position: absolute;
          text-align: left;
          margin-top: 0px;
          margin-bottom: auto;
          z-index: 1;
        }
      }

      .img_landing_1 {
        align-self: center;
        padding-top: 0px;
        margin-right: 0px;
        //?  section2에 가려져야함.
        z-index: -1;
        .img_item {
          width: 195px;
          height: inherit;
        }
      }
    }
  }

  .section_2 {
    height: 500px;
    background-color: #f9f9f9;

    .content {
      z-index: 1;
      background-color: #f9f9f9;
      flex-direction: column-reverse;
      .text_main {
        align-self: flex-start;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 24px;
        margin-left: 8px;
      }

      .text_sub {
        align-self: flex-start;
        text-align: left;
        margin-left: 8px;
      }
    }

    .img_landing_2 {
      //? 오른쪽 텍스트가 밀려서 width를 줄어야했음. (왜 밀리는지 ?)
      align-self: center;
      margin-top: 72px;
      .img_item {
        width: 270px;
        height: 218px;
      }
    }
  }
  .section_3 {
    height: 500px;

    .content {
      padding: 0;
      flex-direction: column;

      .text_main {
        align-self: flex-start;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 24px;
        margin-left: 8px;
      }

      .text_sub {
        align-self: flex-start;
        text-align: left;
        margin-left: 8px;
      }
    }

    .img_landing_3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 80px;
      .img_item {
        align-self: center;
        width: 143px;
        height: 143px;
      }
      .text {
        margin-top: 20px;
        text-align: center;
        color: #e35d3c;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .section_4 {
    height: 500px;
    background-color: #f9f9f9;

    .content {
      flex-direction: column-reverse;
      background-color: #f9f9f9;
      .text_main {
        align-self: flex-start;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 24px;
        margin-left: 8px;
      }

      .text_sub {
        align-self: flex-start;
        text-align: left;
        margin-left: 8px;
      }
    }

    .img_landing_4 {
      margin-top: 60px;
      .img_item {
        width: 320px;
        height: 209px;
      }
    }
  }

  .section_5 {
    height: 500px;

    .content {
      flex-direction: column;

      .text_main {
        align-self: flex-start;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 24px;
        margin-left: 8px;
      }

      .text_sub {
        align-self: flex-start;
        text-align: left;
        margin-left: 8px;
      }
    }

    .img_landing_5 {
      //? 왼쪽 텍스트가 밀려서 width를 줄어야했음. (왜 밀리는지 ?)
      .img_item {
        width: 273px;
        height: 235px;
      }
      margin-top: 60px;
      align-self: center;
    }
  }
  .section_6 {
    height: 500px;
    background-color: #f9f9f9;
    .content {
      background-color: #f9f9f9;
    }
  }
}
