.section_1 {
  .content {
    padding: 160px 74px;
    font-weight: 700;
    display: inline-block;
    .text_main {
      font-size: 36px;
      line-height: 130%;
      text-decoration: none;
      color: black;
    }

    .notice_list {
      margin-top: 53px;
    }
  }
}

@media (max-width: 767px) {
  .section_1 {
    .content {
      padding: 113px 8px;

      .text_main {
        font-weight: 700;
        font-size: 22px;
        line-height: 130%;
        margin-left: 8px;
      }

      .notice_list {
        margin-top: 30px;
      }
    }
  }
}
