.section_1 {
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 80px;
  .content_1 {
    height: 300px;
    margin-top: 40px;
    .banner {
      height: 300px;
      width: 1080px;
    }
  }
  .content_2 {
    height: 370px;
    margin-top: 80px;
    flex-direction: column;
    .title {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .card_wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .content_3 {
    margin-top: 80px;
    flex-direction: column;
    .title {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .card_wrap {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media (max-width: 767px) {
  .section_1 {
    align-items: center;
    flex-direction: column;
    margin-top: 72px;
    .content_1 {
      height: 128px;
      width: 100%;
      margin-top: 19px;
      .banner {
        background-color: gray;
        height: 128px;
        width: 100%;
      }
    }
    .content_2 {
      height: auto;
      margin-top: 41px;
      .title {
        font-size: 16px;
        font-weight: bold;
      }
      .card_wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .content_3 {
      margin-top: 80px;
      flex-direction: column;
      .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0px;
      }
      .card_wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
